body{
    background-color: #FFF;
   
}
.image-container{
    background-image: url("images/Banner\ Image.png");
    background-size: cover;
width: 1320px;
height: 600px;
margin: auto;
margin-top: 50px;
}
.header-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: 0px;
}
.header-container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;

}
.header-description{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;

}
.header-title, h6{
    gap: 16px;
}
.off{
color: #FF0000;
 font-size: 88px;
 font-family: Inter;
 font-weight: 700;
text-align: center;
line-height: 0px;
margin-top: 160px;
}
.holiday{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 0px;
}
.catagories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.holiday{
color: #FF0000;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
}
.new-year-image{
    background-image: url("images/New\ Year\ Photo.png");
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 500px;
margin: auto;    
}
.wellcome{
    background-image: url("images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-size: cover;
    margin: auto;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding-right: 138px;
    border-radius: 15px;
}
.wellcome-header{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
}
.wellcome-discription{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;

}
.join{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border-radius: 5px;
    border: 0px;
}
.wellcome-data{
    text-align: left;
    padding-left: 125px;
    gap: 40px;
}

.wellcome-img{
    background-image: url("images/Group\ 70.png");
    width: 320px;
    height: 465px;
    background-size: cover;
}
.wellcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 136px;
    padding-top: 68px;
    padding-bottom: 142px;
    margin-top: 100px;
}
.offer-img{
    background-image: url("images/Ellipse\ 1.png");
    background-size: cover;
    background-position: center;
    width: 463px;
    height: 463px;
}
.bonus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 120px;
    margin-bottom: 140px;
}
.best-offer{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 0px;
}
.coming-soon{
    color: #070211;
font-size: 48px;
font-family: inter;
font-weight: 900;
line-height: 0px;
}
.left-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Merriweather;
font-size: 20px;
font-weight: 400;
line-height: 25px;

}
.right-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;

}
.offer-header{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 0px;
}
.offer-header , .right-description{
    gap: -30px;
}
.best-gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 0px;
}
.portfolio-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 1000;
line-height: 0px;
text-transform: capitalize;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}






.rectangle-3{
    background-image: url("images/Rectangle\ 3.png");
    width: 424px;
    height: 450px;
    background-size: cover;
}
.rectangle-6{
    background-image: url("images/Rectangle\ 6.png");
    width: 424px;
    height: 450px;
    background-size: cover;
    margin-top: 24px;
}
.rectangle-4{
    background-image: url("images/Rectangle\ 4.png");
    width: 424px;
    height: 450px;
    background-size: cover;
}
.rectangle-7{
    background-image: url("images/Rectangle\ 7.png");
    width: 424px;
    height: 450px;
    background-size: cover;
    margin-top: 24px;
}
.rectangle-5{
    background-image: url("images/Rectangle\ 5.png");
    width: 424px;
    height: 450px;
    background-size: cover;
}
.rectangle-8{
    background-image: url("images/Rectangle\ 8.png");
    width: 424px;
    height: 450px;
    background-size: cover;
    margin-top: 24px;
}
.grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
column-gap: 24px; 
margin-top: 50px;  
}